PUBLIC_SUPABASE_URL=<your-supabase-url>
PUBLIC_SUPABASE_ANON_KEY=<your-supabase-anon-key>
PRIVATE_PAYSTACK_SECRET_KEY=<your-paystack-secret-key>

# (Development only)
SEND_SMS_HOOK_SECRETS=v1,whsec_<base64-secret> # Can be generated with `openssl rand -base64 32 | tr '/+' '_-' | tr -d '='`
SEND_SMS_HOOK_URI=http://host.docker.internal:54321/functions/v1/send-sms
SMS_API_KEY=<africas-talking-sms-api-key>
SMS_USERNAME=chowbenin # sandbox for testing