@import 'tailwindcss';

@font-face {
	font-family: 'Athletics';
	src: url('/fonts/athletics-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Athletics';
	src: url('/fonts/athletics-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Athletics';
	src: url('/fonts/athletics-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Athletics';
	src: url('/fonts/athletics-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Athletics';
	src: url('/fonts/athletics-extra-bold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Athletics';
	src: url('/fonts/athletics-black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@theme {

	/* Primary colors */
	--color-primary: #df6e1d;
	--color-secondary: #1c9937; 
	--color-tertiary: #f2cf08;
	--color-disabled: #d1d1d1;
	--color-error: #ff6347;
	--color-success: var(--color-secondary);
	--color-warning: var(--color-tertiary);
	--color-primary-dark: #e06b00; 
	--color-accent-green: var(--color-secondary);
	--color-accent-red: var(--color-error);

	/* Background colors */
	--color-background: #ffffff; 
	--color-surface: #f1f1f1;
	--color-surface-transparent: rgba(0, 0, 0, 0.6); 

	/* Text colors */
	--color-text-heading: #1e1e1e; 
	--color-text-body: #1e1e1e;
	--color-text-muted: #949494;
	--color-border: #eaeaea;

	/* Font family */
	--font-sans: 'Athletics', sans-serif;

	/* Text sizes */
	--text-h1: 3.75rem; /* 60px */
	--text-h2: 3rem;    /* 48px */
	--text-h3: 2rem;    /* 32px */
	--text-h4: 1.75rem;  /* 28px */
	--text-h5: 1.5rem;  /* 24px */
	--text-h6: 1.25rem; /* 20px */
	--text-base: 1rem;  /* 16px */
}

@layer base {
	body {
		@apply bg-background text-text-body flex min-h-screen flex-col justify-between text-base;
		font-family: Athletics, sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-text-heading font-bold;
		font-family: 'Athletics', sans-serif;
	}
}

@layer components {
	/* Buttons */
	.btn {
		@apply bg-primary rounded px-4 py-2 font-bold text-white;
	}
	.btn:hover {
		@apply bg-primary-dark;
	}
	.btn:disabled {
		@apply cursor-not-allowed bg-gray-300 text-gray-500;
	}
	.btn:disabled:hover {
		@apply bg-gray-300;
	}

	.btn-secondary {
		@apply bg-accent-green rounded px-4 py-2 font-bold text-white;
	}
	.btn-secondary:hover {
		@apply bg-accent-red;
	}
	.btn-secondary:disabled {
		@apply cursor-not-allowed bg-gray-300 text-gray-500;
	}
	.btn-secondary:disabled:hover {
		@apply bg-gray-300;
	}

	/* Forms */
	.form-input {
		@apply bg-surface ring-border w-full rounded-md p-2 ring;
	}

	.form-input:focus {
		@apply ring-primary outline-none;
	}

	.form-input.form-error {
		@apply ring-accent-red;
	}

	/* Form inputs with icon */
	.form-input-icon {
		@apply relative flex items-center bg-surface ring-border ring gap-[8px] px-[20px] h-[52px] rounded-full;
	}
	.form-input-icon input, .form-input-icon .form-input {
		@apply ring-0 bg-inherit;
	}

	/* Form phone input (with select and input) */
	.form-phone-input {
		@apply border-border bg-surface flex items-center rounded-md border;
	}
	.form-phone-input select {
		@apply bg-surface border-border rounded-l-md p-2 ring-0;
	}
	.form-phone-input input {
		@apply bg-surface w-full rounded-r-md border-none p-2 ring-0;
	}
	.form-phone-input select:focus,
	.form-phone-input input:focus {
		@apply ring-primary outline-none;
	}

	/* Form textarea */
	.form-textarea {
		@apply bg-surface ring-border w-full rounded-md p-2 ring;
	}
	.form-textarea:focus {
		@apply ring-primary outline-none;
	}
}


.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}