@import 'tailwindcss';
@import '@fontsource/nunito';

@theme {

	--color-orange-50: #fcf1e8;
	--color-orange-100: #f5d2b9;
	--color-orange-200: #f0bc97;
	--color-orange-300: #ea9e68;
	--color-orange-400: #e58b4a;
	--color-orange-500: #df6e1d;
	--color-orange-600: #cb641a;
	--color-orange-700: #9e4e15;
	--color-orange-800: #7b3d10;
	--color-orange-900: #5e2e0c;

	--color-primary: #ff7a00; 
	--color-primary-dark: #e06b00; /* Slightly darker orange for hover states */

	--color-background: #ffffff; /* Warm Cream - website background */
	--color-surface: #ffffff; /* For cards, secondary backgrounds if needed */

	--color-text-heading: #543520; /* Deep Brown - for headings */
	--color-text-body: #1E1E1E;
	--color-border: #EAEAEA; /* Light beige for subtle borders/dividers */

	/* Accent Colors */
	--color-accent-green: #00c853; /* Fresh Green - secondary accents */
	--color-accent-red: #ff6347; /* Tomato Red - errors, alerts */

	--font-sans: 'Nunito', sans-serif; /* Primary font */
}

@layer base {
	body {
		@apply bg-background text-text-body flex min-h-screen flex-col justify-between font-sans text-base font-[400];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-text-heading font-bold;
	}
}

@layer components {
	/* Buttons */
	.btn {
		@apply bg-primary rounded px-4 py-2 font-bold text-white;
	}
	.btn:hover {
		@apply bg-primary-dark;
	}
	.btn:disabled {
		@apply cursor-not-allowed bg-gray-300 text-gray-500;
	}
	.btn:disabled:hover {
		@apply bg-gray-300;
	}

	.btn-secondary {
		@apply bg-accent-green rounded px-4 py-2 font-bold text-white;
	}
	.btn-secondary:hover {
		@apply bg-accent-red;
	}
	.btn-secondary:disabled {
		@apply cursor-not-allowed bg-gray-300 text-gray-500;
	}
	.btn-secondary:disabled:hover {
		@apply bg-gray-300;
	}

	/* Forms */
	.form-input {
		@apply bg-surface ring-border w-full rounded-md p-2 ring;
	}

	.form-input:focus {
		@apply ring-primary outline-none;
	}

	.form-input.form-error {
		@apply ring-accent-red;
	}

	/* Form inputs with icon */
	.form-input-icon {
		@apply relative flex items-center bg-surface ring-border ring gap-[8px] px-[20px] h-[52px] rounded-full;
	}
	.form-input-icon input {
		@apply ring-0 bg-inherit;
	}

	/* Form phone input (with select and input) */
	.form-phone-input {
		@apply border-border bg-surface flex items-center rounded-md border;
	}
	.form-phone-input select {
		@apply bg-surface border-border rounded-l-md p-2 ring-0;
	}
	.form-phone-input input {
		@apply bg-surface w-full rounded-r-md border-none p-2 ring-0;
	}
	.form-phone-input select:focus,
	.form-phone-input input:focus {
		@apply ring-primary outline-none;
	}

	/* Form textarea */
	.form-textarea {
		@apply bg-surface ring-border w-full rounded-md p-2 ring;
	}
	.form-textarea:focus {
		@apply ring-primary outline-none;
	}
}
